.App {
  text-align: center;
  padding: 20px;
  background-color: #282c34;
  color: #fff;
}

.App-nav {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  padding: 10px;
  width: 98%;
  position: fixed;
}

.App-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin: 0 10px;
}

.App-nav a:hover {
  color: #555;
}

.button-box {
    /* width: 250px; */
    height: 150px;
    /* border: 1px solid black; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ten {
  font-size: 16px;
  background: white;
  color: rgb(242, 242, 242);
  background-color: #fa4f00;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  transition: all 300ms;
}

.ten:hover {
  background-color: #f13c31;
  color: rgb(242, 242, 242);
  border:2px solid rgb(255, 255, 255);
  border-radius: 50px;
}

.para1{
  font-size: 20px;
}

.ten1 {
  font-size: 15px;
  background-color: #f13c31;
  
  font-size: 20px;
  color: #d5d5d5;
  border-radius: 5px;
  padding: 15px;
  transition: all 300ms;
  float: right;
  position: fixed;
}

/* .ten1:hover {
  background-color: #ff8142;
  color: rgb(242, 242, 242);
  border:2px solid rgb(255, 255, 255);
  border-radius: 50px;
} */

.button-box1 {
  float: right;
  margin-right: 0.5em !important;
  margin-top: 10em;
  z-index: -1;
}


.glow {
  color: #ffffff;
  -webkit-text-stroke: 0.1vw #ffffff;
  text-transform: uppercase;
}

.glow::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f5f5f5;
  -webkit-text-stroke: 0vw #ffffff;
  border-right: 2px solid #f13c31;
  /* overflow: hidden; */
  animation: animate 3s linear infinite;
}

.page-title{
  margin-top: 5rem;
  font-weight: 700;
}






@keyframes animate{
  0%,10%,100%{
      width: 0;
  }
  70%,90%{
      width: 100%;
  }
}

/* Layout */

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}
