  section{
    padding: 10rem;
    background-color: #f5f5f5;
  }

  .App {
    text-align: center;
    color: rgb(153 153 161 / var(--tw-text-opacity));
  }

  .ot-title{
    font-size: 60px;
    font-weight: 900;
  }

  .all-des{
    font-size: 20px;
    --tw-text-opacity: 1;
    color: rgb(153 153 161 / var(--tw-text-opacity));
  }

  .mini-title{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .05em;
    --tw-text-opacity: 1;
    color: rgb(153 153 161 / var(--tw-text-opacity));
    text-transform: uppercase;  
  }

  .App-nav {
    justify-content: end;
    background-color: #f1f1f1;
    padding: 10px;
    width: 100%;
    position: fixed;
  }

  .App-nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 0 10px;
  }

  .App-nav a:hover {
    color: #555;
  }

  .button-box {
      /* width: 250px; */
      height: 150px;
      /* border: 1px solid black; */
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .ten {
    font-size: 16px;
    background: white;
    color: rgb(242, 242, 242);
    background-color: #fa4f00;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    transition: all 300ms;
  }

  .row{
    --bs-gutter-x: 0px !important;
  }

  .ten:hover {
    background-color: #f13c31;
    color: rgb(242, 242, 242);
    border:2px solid rgb(255, 255, 255);
    border-radius: 50px;
  }


  .para1{
    font-size: 30px;
    font-weight: 500;
    text-align: left;
  }

  .hero-sec{
    background: linear-gradient(135deg, rgba(244, 244, 246, 0.8) 60%, rgba(10, 10, 10, 0.95) 60%), url(../src/images/worldmap-new.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    height: 100vh;
  }

  .cus-card-css{
    max-width:15rem !important;
    height:17rem !important;
    border-radius:1rem !important;
    opacity: 2;
    border: none;
    box-shadow: 20px 20px 25px 20px rgba(0, 0, 0, 0.3), 10px 10px 15px 10px rgba(0, 0, 0, 0.3);
    background-color: #333333 !important;
  }

  .ten1 {
    font-size: 15px;
    background-color: #f13c31;
    
    font-size: 20px;
    color: #d5d5d5;
    border-radius: 5px;
    padding: 15px;
    transition: all 300ms;
    float: right;
    position: fixed;
  }

  .button-box1 {
    float: right;
    margin-right: 0.5em !important;
    margin-top: 10em;
    z-index: -1;
  }


  .glow {
    color: #ffffff;
    -webkit-text-stroke: 0.1vw #ffffff;
    text-transform: uppercase;
  }

  .glow::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f5f5f5;
    -webkit-text-stroke: 0vw #ffffff;
    border-right: 2px solid #f13c31;
    /* overflow: hidden; */
    animation: animate 3s linear infinite;
  }

  .page-title{
    margin-top: 5rem;
    text-align: left;
    font-weight: 900;
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .main-logo{
    justify-content: start;
    text-align: left;
    align-items: start;
    height: 3rem;
    width: auto;
  }




  @keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
  }

  /* Layout */

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}

  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }

  /* Set black background color, white text and some padding */
  .footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }

  .center {
     background-image: linear-gradient(135deg, rgba(10, 10, 10, 0.75) 100%, rgba(10, 10, 10, 0.75) 100%), url(../src/images/skills-bg.png);
     background-repeat: no-repeat;
     height: 100vh;
     background-position: center;
     background-size: cover;
   }
   
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }

   
  .football-container {
     perspective: 500px;
   }
   
   
   .football {
     width: 90px;
     height: 90px;
     background: linear-gradient(45deg, #333, #555); /* Gradient for a 3D look */
     position: relative;
     display: flex;
     justify-content: center;
     border-radius:50px;
     align-items: center;
     color: white; /* Adjust the text color */
     box-shadow: 0 0 10px rgba(172, 67, 67, 0.7), 0 0 5px rgba(255, 73, 73, 0.001); /* Add shining effect */
   }
   
   
   @keyframes rotate {
     0% {
       transform: rotateY(0deg);
     }
     25% {
       transform: rotateY(45deg);
     }
     50% {
       transform: rotateY(90deg);
     }
     75% {
       transform: rotateY(135deg);
     }
     100% {
       transform: rotateY(180deg);
     }
   }
   
   @keyframes move {
     0%, 100% {
       transform: translateY(0) translateX(0);
     }
     100% {
       transform: translateY(5px) translateX(5px); /* Adjust the values as needed */
     }
   }
   
   /* Apply animations to individual footballs */
   .football:nth-child(1) {
     animation: rotate 1s linear infinite, move 1s ease-in-out infinite alternate;
   }
   
   .football:nth-child(2) {
     animation: rotate 3s linear infinite, move 3s ease-in-out infinite alternate;
   }

   .football:nth-child(3) {
     animation: rotate 4s linear infinite, move 4s ease-in-out infinite alternate;
   }
   
   .football:nth-child(4) {
     animation: rotate 1s linear infinite, move 1s ease-in-out infinite alternate;
   }
   
   .football:nth-child(5) {
     animation: rotate 1s linear infinite, move 1.5s ease-in-out infinite alternate;
   }
   
   .football:nth-child(6) {
     animation: rotate 1.5s linear infinite, move 1.7s ease-in-out infinite alternate;
   }
   
   .football:nth-child(7) {
     animation: rotate 1s linear infinite, move 1s ease-in-out infinite alternate;
   }
   
   









  